    
@model IEnumerable<Ilanlar>
@{ ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_UILayout.cshtml"; }

<link href="~/css/blog.css" rel="stylesheet" />

<header class="masthead" style="background-image: url('@ViewBag.Img')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading d-grid">
                    <form method="get" action="@Url.Action("Index", "Ilan")" class="mb-4">
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <select class="form-select" style="border-radius:30px;" id="ilanCesidi" name="ilanCesidi">
                                    <option style="text-align:center;" value="">Tümü</option>
                                    @foreach (var ilanTur in ViewBag.IlanTurleri)
                                    {
                                        <option value="@ilanTur">@ilanTur</option>
                                    }
                                </select>
                            </div>
                            <div class="col-md-6 mb-3">
                                <button type="submit" class="w-100 btn btn-light d-block" style="height:50px; border-radius:30px;">Filtrele</button>
                            </div>
                            <div class="col-md-12 px-3">
                                <a class="btn btn-light p-3 mt-3 w-100" style="color: #626c63; border-radius:30px;" href="@Url.Action("IlanUrl", "Ilan")">İLAN VER</a>
                            </div>
                        </div>
                    </form>

                    <small class="justify-content-end d-block">@ViewBag.TotalIlan tane ilan yayınlandı</small>

                </div>
            </div>
        </div>
    </div>
</header>

<div class="p-4 table-responsive">
    <table class="table table-striped">
        <tr>
            <th>İlan Başlığı</th>
            <th>İlan Tipi</th>
            <th>İlan Fotoğrafı</th>
            <th>İşletme Adı</th>
            <th style="text-align:end">Yayınlanma Tarihi</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr class="tableTD" onclick="window.location.href='@Url.Action("Details", "Ilan", new { id = item.IlanID })'">
                <td>@item.IlanBasligi</td>
                <td>@item.IlanCesidi</td>
                <td><img src="~/IlanImage/@item.ImagePath" style="height:70px; object-fit:contain;" /></td>
                <td>@item.IlanYeri</td>
                <td style="text-align:end">@item.ilanDate.ToString("dd MMMM yyyy HH:mm")</td>
            </tr>
        }
    </table>
</div>
<div style="text-align:center;">
    <a href="/Default/Index" class="btn btn-dark font-weight-bold mt-3 mb-4">
        Ana Sayfaya Dön
    </a>
</div>

