@model IEnumerable<Isletmeler>
@{
    ViewData["Title"] = "StandOutIndex";
    Layout = "~/Views/Shared/_UILayout.cshtml";
}
<style>
    .card-body a {
        color: #eeeeee;
        border-color: #eeeeee;
        position: absolute;
        width: 88%;
        bottom: 3%;
        height: 40px;
    }

        .card-body a:hover {
            border-color: #eeeeee;
            color: #eeeeee;
        }
</style>

<div class="p-4 m-3" style="background: linear-gradient(to right, #738c00 0%, #283606 100%);">
    <h5 style="background: linear-gradient(to right, #ffffff 0%, #eeeeee 100%); -webkit-background-clip: text; -webkit-text-fill-color: transparent; background-clip: text; text-align: center; color: white;">
        EN ÇOK İLGİ GÖREN TÜM İŞLETMELER (@ViewBag.TotalIsletme TANE)
    </h5>
</div>


<div class="row d-flex justify-content-center w-100 pt-3 pb-3 ml-0">
    @if (Model != null)
    {
        @foreach (var item in Model)
        {
            <div class="card mx-2 mb-3 p-0" style="width: 21rem; box-shadow: 0px 0px 10px 3px #615959;">
                <img style="height:200px" src="/IsletmelerinResmi/@item.IsletmeResimi" class="card-img-top" alt="@item.ISletmeAdi">
                <div class="card-body" style="display: grid; position: relative;">
                    <h5 class="card-title mx-auto">@item.ISletmeAdi</h5>
                    @if (!string.IsNullOrEmpty(item.ISletmeNot) && item.ISletmeNot.Length > 100)
                    {
                        <span class="mb-4">@Html.Raw(item.ISletmeNot.Substring(0, 100) + "...")</span>
                    }
                    else
                    {
                        <p class="card-text mb-5">@Html.Raw(item.ISletmeNot)</p>
                    }
                    <a href="/ISletmeleriListele/IsletmeDetayları/@item.IsletmeID" style="left:6%;" class="btn btn-dark font-weight-bolder abutton">Sayfayı Ziyaret Et</a>
                </div>
            </div>
        }
    }
</div>
<div style="text-align:center;">
    <a href="/Default/Index" class="btn btn-dark font-weight-bold mt-3 mb-4">
        Ana Sayfaya Dön
    </a>
</div>